Dear <%=@user.fullname%>,

You have indicated that you have forgotten your password for the <%=$WEBSITE_NAME%> website.  Your password has been reset as indicated below and you should change it at the next login.

Password: <%=@new_password%>         

Note that the password is case sensitive.

